/* PRE-PACKAGED CREATE-REACT-APP STYLES */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* END CREATE-REACT-APP STYLES */


/* MY CSS */
/* color storage */
:root {
  color-scheme: light dark;
  --main: rgb(25, 188, 136);
  --accent-1: rgb(25, 188, 136);
  --accent-1-text: rgb(255, 255, 255);
  --accent-2: rgb(108, 144, 132);
  --accent-2-text: rgb(255, 255, 255);
  /* dark colors */
  --d-main: rgb(32, 32, 32);
  --d-accent-1: rgb(6, 71, 50);
  --d-accent-1-text: rgb(255, 255, 255);
  --d-accent-2: rgb(89, 105, 100);
  --d-accent-2-text: rgb(255, 255, 255);
}
/* RESETS */
h1,
h2 {
  margin: 0;
}
ul,
li {
  list-style: none;
  padding: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  appearance: none;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
/* END RESETS */
/* GLOBAL STYLES */
body {
  width: 100%;
  margin: 0 auto;
  background-color: var(--main);
}
header {
  /* position: sticky; */
  /* top: 0px; */
  /* background-color: var(--accent-1); */
  color: var(--accent-1-text);
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--d-main);
  }
  header {
    /* background-color: var(--d-accent-1); */
    color: var(--d-accent-1-text);
  }
}
.section-main {
  width: 1200px;
  margin: 0 auto;
}
.warning {
  border: 2px solid red;
  border-radius: 5px;
  background-color: rgb(170, 77, 77);
}
/* END GLOBAL STYLES */
/* HEADER STYLES */
nav {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: space-around;
}
nav a {
  background-color: var(--accent-1);
  flex: auto;
  text-align: center;
}
nav a.active {
  background-color: gray;
}
#collapse {
  display: none;
}
/* END HEADER STYLES */
/* PROJECT CARD STYLES */
.portfolio-container {
  text-align: center;
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-card {
  position: relative;
  margin: 4px;
  height: 300px;
  width: 400px;
}
.image-div img {
  object-fit: cover;
  height: 300px;
  width: 400px;
}
.tags {
  display: none;
}
.title-card {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.title-card p {
  margin: 3px;
}
/* portfolio colors */
.project-card {
  background-color: var(--accent-2);
  color: var(--accent-2-text);
}
.title-card {
  background-color: var(--accent-2);
}
@media (prefers-color-scheme: dark) {
  .project-card {
    background-color: var(--d-accent-2);
  color: var(--d-accent-2-text);
  }
  .title-card {
    background-color: var(--d-accent-2);
  }
}
/* END PROJECT CARD STYLES */
/* PROJECT PAGE STYLES */
.project-gallery {
  height: 400px;
  width: 500px;
}
.project-gallery img{
  object-fit: contain;
  height: 400px;
  width: 500px;
}
/* END PROJECT PAGE STYLES */
/* CONTACT STYLES */
.required {
  display: none;
  color: red;
}
#email-warning {
  display: none;
  color: red;
}
/* END CONTACT STYLES */