/* PRE-PACKAGED CREATE-REACT-APP STYLES */
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* END CREATE-REACT-APP STYLES */


/* MY CSS */
/* color storage */
:root {
  color-scheme: light dark;
  --main: rgb(221, 226, 198);
  --accent-1: rgb(151, 166, 126);
  --accent-1-text: rgb(0, 0, 0);
  --accent-2: rgb(167, 38, 8);
  --accent-2-text: rgb(167, 38, 8);
  /* dark colors */
  --d-main: rgb(21, 20, 20);
  --d-accent-1: rgb(78, 85, 67);
  --d-accent-1-text: rgb(255, 255, 255);
  --d-accent-2: rgb(241, 65, 25);
  --d-accent-2-text: rgb(241, 65, 25);
}
/* RESETS */
h1,
h2 {
  margin: 0;
}
ul,
li {
  list-style: none;
  padding: 0;
}
button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  appearance: none;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
p {
  margin: 0;
  padding: 0;
}
/* END RESETS */
/* GLOBAL STYLES */
body {
  width: 100%;
  margin: 0 auto;
  background-color: var(--main);
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--d-main);
  }
}
#page-container {
  position: relative;
  min-height: 100vh;
}
.section-main {
  width: 60%;
  margin: 0 auto;
  padding-bottom: 100px;
}
.warning {
  border: 2px solid red;
  border-radius: 5px;
  background-color: rgb(170, 77, 77);
}
/* END GLOBAL STYLES */
/* HEADER STYLES */
header {
  text-align: center;
  color: var(--accent-2-text);
}
nav {
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: gray;
  height: 3rem;
}
nav a {
  flex: auto;
  text-align: center;
}
nav a.active {
  color: black;
}
@media (prefers-color-scheme: dark) {
  header {
    color: var(--d-accent-2-text);
  }
  nav a.active {
    color: white;
  }
}
/* END HEADER STYLES */
/* ABOUT PAGE STYLES */
#profile-pic {
  width: 150px;
  border-radius: 50%;
  float: left;
  padding: 20px;
}
#about p {
  padding: 10px;
}
/* END ABOUT PAGE STYLES */
/* PROJECT CARD STYLES */
.portfolio-container {
  text-align: center;
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project-card {
  position: relative;
  margin: 4px;
  height: 300px;
  width: 400px;
}
.image-div img {
  object-fit: cover;
  height: 300px;
  width: 400px;
}
.tags {
  display: none;
}
.title-card {
  position: absolute;
  bottom: 0px;
  width: 100%;
}
.title-card p {
  margin: 3px;
}
/* portfolio colors */
.project-card {
  background-color: var(--accent-1);
  color: var(--accent-1-text);
}
.title-card {
  background-color: var(--accent-1);
}
@media (prefers-color-scheme: dark) {
  .project-card {
    background-color: var(--d-accent-1);
  color: var(--d-accent-1-text);
  }
  .title-card {
    background-color: var(--d-accent-1);
  }
}
/* END PROJECT CARD STYLES */
/* PROJECT PAGE STYLES */
.project-gallery {
  height: 400px;
  width: 500px;
}
.project-gallery img{
  object-fit: contain;
  height: 400px;
  width: 500px;
}
/* END PROJECT PAGE STYLES */
/* CONTACT STYLES */
.required {
  display: none;
  color: red;
}
#email-warning {
  display: none;
  color: red;
}
/* END CONTACT STYLES */
/* FOOTER STYLES */
footer {
  position: absolute;
  bottom: 0;
  height: 40px;
  width: 100%;
}
#footer-links {
  width: 40%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}
footer a {
  color: var(--accent-2-text);
}

@media (prefers-color-scheme: dark) {
  footer a {
    color: var(--d-accent-2-text);
  }
}
/* END FOOTER STYLES */